<aside class="right_menu" >
  <ul>
    
    <% @project_pages.each_with_index do |page,index| %>
      <li><%= link_to(page.title, refinery.url_for(page.url), :class => "index_#{index}") if page and page.class.to_s == "Refinery::Page" %></li>
    <% end if @project_pages and @project_pages.any? -%>
    <% if current_refinery_user%>
      <li><%= link_to t('user.profile'), [main_app, current_refinery_user], :class => "index_5"%></li>
    <% end %>
  </ul>
  <section id='side_body'>
  <%=raw @page.content_for(:side_body) %>
</section>
</aside>


<div class="left_main">
  <p>&nbsp;</p>
  <section id='body'>
    <%=raw @page.content_for(:body) %>
  </section>
</div>

